@media only screen and (max-width:1083px){
    .imgFC2{
        top:-18.78%;
    }
    .imgFC1{
        top:-1%;
    }
    .textSC1{
        top:-11.69%;
    }
    .textSC2{
        top:-11.09%;
    }
}
@media only screen and (max-width:830px){
    .imgFC2{
        top:-17.78%;
    }
    .imgFC1{
        top:0%;
    }
    .textSC1{
        top:-10.69%;
    }
    .textSC2{
        top:-10.09%;
    }
}
@media only screen and (max-width:657px){
    .imgFC2{
        top:-16.78%;
    }
    .imgFC1{
        top:1%;
    }
    .textSC1{
        top:-9.69%;
    }
    .textSC2{
        top:-9.09%;
    }
}
@media only screen and (max-width:589px){
    .imgFC2{
        top:-15.78%;
    }
    .imgFC1{
        top:2%;
    }
    .textSC1{
        top:-8.69%;
    }
    .textSC2{
        top:-8.09%;
    }
}