@media only screen and (min-width:1393px){
    .lastContentMainDiv{
        top:-0.35%;
    }
}

@media only screen and (max-width:1392px){
    .lastContentMainDiv{
        top:4.8%;
    }
}

@media only screen and (max-width:1195px){
    .lastContentMainDiv{
        top:5.75%;
    }
}
@media only screen and (max-width:1083px){
    .lastContentMainDiv{
        top:6.75%;
    }
}

@media only screen and (max-width:935px){
    .lastContentMainDiv{
        top:10.39%;
    }
}

@media only screen and (max-width:830px){
    .lastContentMainDiv{
        top:11.39%;
    }
}

@media only screen and (max-width:822px){
    .lastContentMainDiv{
        top:12.39%;
    }
}

@media only screen and (max-width:741px){
    .lastContentMainDiv{
        top:17.69%;
    }
}

@media only screen and (max-width:657px){
    .lastContentMainDiv{
        top:18.99%;
    }
}

@media only screen and (max-width:649px){
    .lastContentMainDiv{
        top:19.79%;
    }
}

@media only screen and (max-width:595px){
    .lastContentMainDiv{
        top:21.59%;
    }
}

@media only screen and (max-width:589px){
    .lastContentMainDiv{
        top:22.69%;
    }
}