@media only screen and (max-width:1195px){
    .imageSC1{
        top:-9.3%;
    }
    .imageSC2{
        top:-21.569%;
    }
}
@media only screen and (max-width:1083px){
    .imageSC1{
        top:-8.25%;
    }
    .imageSC2{
        top:-20.519%;
    }
}
@media only screen and (max-width:830px){
    .imageSC1{
        top:-7.2%;
    }
    .imageSC2{
        top:-19.469%;
    }
}
@media only screen and (max-width:822px){
    .imageSC1{
        top:-6.4%;
    }
    .imageSC2{
        top:-18.669%;
    }
}
@media only screen and (max-width:657px){
    .imageSC1{
        top:-5.35%;
    }
    .imageSC2{
        top:-17.619%;
    }
}

@media only screen and (max-width:649px){
    .imageSC1{
        top:-4.55%;
    }
    .imageSC2{
        top:-16.819%;
    }
}
@media only screen and (max-width:589px){
    .imageSC1{
        top:-3.5%;
    }
    .imageSC2{
        top:-15.769%;
    }
}