
//small
@media only screen and (max-width:1195px) {
    .thirdMainContainer{
        top:-19.95%
    }
}

//big
@media only screen and (max-width:1083px) {
    .thirdMainContainer{
        top:-18.855%
    }
}

//big
@media only screen and (max-width:830px) {
    .thirdMainContainer{
        top:-17.78%
    }
}

//small
@media only screen and (max-width:822px) {
    .thirdMainContainer{
        top:-16.95%
    }
}
@media only screen and (max-width:737px) {
    .textImageSCDiv1 {
        text-align: center;
    }
    .textImageSCDiv2 {
        text-align: center;
    }
}
//big
@media only screen and (max-width:657px) {
    .thirdMainContainer{
        top:-15.85%
    }
}

//small
@media only screen and (max-width:649px) {
    .thirdMainContainer{
        top:-15%
    }
}

//big
@media only screen and (max-width:589px) {
    .thirdMainContainer{
        top:-13.859%
    }
}

//text
@media only screen and (max-width:1392px) {
    .thirdMainContainer{
        height:6.19%
    }
}

@media only screen and (max-width:935px) {
    .thirdMainContainer{
        height:7.19%
    }
}

@media only screen and (max-width:741px) {
    .thirdMainContainer{
        height:8.69%
    }
}
//10.19%
@media only screen and (max-width:595px) {
    .thirdMainContainer{
        height:9.19%
    }
}